




/* ---------Feature---------- */
.feature__img {
  margin-right: 0;
  padding: 0;

  display: block;
}
.feature {
  display: flex;
  padding: 0;
  background-color: #f1f1f2;
}
.feature__title {
  font-size: 56px;
  line-height: 69px;

  margin-bottom: 25px;
  padding-top: 164px;

  font-weight: 400;
}
.feature__about {
  padding-left: 112px;
}
.feature__text {
  font-size: 20px;
  line-height: calc(28 / 20);
  font-weight: 400;
  text-align: justify;

  color: #000000;
  margin-bottom: 35px;
  margin-right: 165px;
}
.feature__button {
  width: 200px;
  height: 60px;
  font-size: 18px;
  line-height: 1.34;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #f7941e;
  border: 1px solid #f7941e;
  border-radius: 5px;
}
/* ------------Post---------- */
.post {
  margin-left: 126px;
}
.post__title {
  margin-top: 96px;
  margin-bottom: 23px;
}
.post__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.post__img {
  display: block;
}
